extends strategyBase

block uploadList
    ul#edit
        li=writing.title
        li=writing.user 
        li #{writing.views} #{writing.views === 1 ? "view" : "views"} 
        li #{writing.createdAt}
        a(href=`/strategy/${writing.id}/edit`) Edit writing &rarr; 