extends wetubeBase

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="name",name="name",type="text", requried, value=loggedInUser.name)
        input(placeholder="email",name="email",type="email", requried, value=loggedInUser.email)
        input(placeholder="username",name="username",type="text", requried, value=loggedInUser.username)
        input(placeholder="location",name="location",type="text", requried, value=loggedInUser.location)
        input(type="submit", value="Update Profile")